/*! HTML5 Boilerplate v7.3.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #deebfe;
  text-shadow: none;
}

::selection {
  background: #deebfe;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   													DEFAULT/MOBILE STYLES
   ========================================================================== */
/* === General Styles === */
html {
  font-size: 14px;
  margin: 0 auto;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
  background-color: #f9fafc;
  color: #4d39d1;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

main {
  display: block;
  overflow: hidden;
  position: relative;
}

a {
  text-decoration: none;
  color: #4d39d1;
  transition: all 0.3s;
}

p {
  font-size: 1em;
  font-weight: 400;
  line-height: 1.4em;
}

h1 {
  font-size: 3.5em;
  font-weight: 900;
  margin: 0 auto;
  padding: 0 0 10px 0;
}

h2 {
  font-size: 1.333em;
  font-weight: 300;
  margin: 0 auto;
  padding: 0;
  line-height: 1.5em;
}

h3 {
  font-size: 1.5em;
  font-weight: 700;
  margin: 0.7em auto;
  padding: 0;
}

h4 {
  font-size: 1.4em;
  font-weight: 700;
  margin: 0.7em auto;
  padding: 0;
}

section {
  margin: 60px auto;
}

img {
  width: 100%;
  height: auto;
}

.button {
  background-color: #fb746c;
  border-radius: 50px;
  text-align: center;
  text-decoration: none;
  font-size: 1.4em;
  font-weight: 400;
  color: #f9fafc;
  padding: 10px 20px;
  /*line-height: 65px;*/
}

.rounded-square-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 90vh;
  margin: 0 auto;
  border-radius: 50px;
  box-shadow: 6px 9px 23px 0px rgba(117, 138, 180, 0.2);
  -webkit-box-shadow: 6px 9px 23px 0px rgba(117, 138, 180, 0.2);
  -moz-box-shadow: 6px 9px 23px 0px rgba(117, 138, 180, 0.2);
}
/* === AOS Custom Animaton ==*/

[data-aos="my-easing"] {
  transform: translateX(-100%);
  transition: all 0.5s;
  transition-timing-function: cubic-bezier(0.2, 3, 0.4, 2);
  transition-property: transform;
}
[data-aos="my-easing"].aos-animate {
  transform: translateX(0);
}
/* === Header - Footer === */
/* Menu */
#menu-content {
  visibility: hidden;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  top: 0;
  right: 0;
  text-align: center;
  font-size: 2.3em;
  font-weight: 700;
  text-transform: uppercase;
}

.open #menu-content {
  top: 97px;
  width: 100%;
  visibility: visible;
  z-index: 1001;
}

#menu-content ul {
  padding: 0;
}

#menu-content ul li a {
  color: #fff;
}

#menu-content ul li {
  opacity: 0;
  transform: translateX(50px);
  overflow: hidden;
}

.open #menu-content ul li {
  opacity: 1;
  transform: translateX(0);
  transition: all 0.5s;
  transition-timing-function: cubic-bezier(0.2, 3, 0.4, 1);
  transition-delay: 0.27s;
}

.open #menu-content ul li:nth-child(2) {
  transition-delay: 0.37s;
}

.open #menu-content ul li:nth-child(3) {
  transition-delay: 0.47s;
}

.open #menu-content ul li:nth-child(4) {
  transition-delay: 0.57s;
}

#menu-bg {
  content: "";
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: #fb746c;
  position: fixed;
  top: 14px;
  right: 9px;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -webkit-transform: scale(1);
  transform: scale(1);
  overflow: hidden;
  z-index: 1000;
}

.open #menu-bg {
  transform: scale(50, 35);
  transition: all 1s ease-out;
}

#menu-toggle {
  display: block;
  position: fixed;
  right: 16.5px;
  top: 19px;
  width: 15px;
  height: 20px;
  cursor: pointer;
  z-index: 1002;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

#menu-toggle div {
  position: relative;
  display: flex;
  flex-direction: column;
}

#menu-span {
  height: 2px;
  width: 100%;
  padding: 0;
  background: #fff;
  zoom: 1;
  -webkit-transition: 0.35s ease-in-out;
  transition: 0.35s ease-in-out;
  margin: 2px 0;
  line-height: unset;
}

#menu-span :nth-child(1) {
  top: 0;
}

#menu-span :nth-child(2) {
  top: 8px;
}
#menu-span :nth-child(3) {
  top: 16px;
}

.open #menu-span:nth-child(1) {
  transform: translateY(8px) rotate(135deg) scaleX(1.5);
  height: 4px;
}

.open #menu-span:nth-child(2) {
  width: 0;
}

.open #menu-span:nth-child(3) {
  transform: translateY(-6px) rotate(45deg) scaleX(1.5);
  height: 4px;
}

/*Nav menu links*/
ul {
  list-style: none;
  padding: 0.5em 0 0 0;
  margin: 0 auto;
  text-align: center;
}

ul li {
  padding: 18px;
}

ul li a {
  text-decoration: none;
  text-align: center;
  color: #4d39d1;
}

/*Footer*/
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
}

.social {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  margin-top: 0.5em;
}

.social-icons {
  display: flex;
}

.social-icons p {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fb746c;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin: 0 1em 1em 1em;
}

.social-icons a {
  color: #f9fafc;
}

/* === Lastly === */
.lastly {
  position: relative;
  display: inline-block;
}

.lastly p {
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: -5px;
  color: #d6c3ff;
}

.lastly a {
  color: #d6c3ff;
}

/* == SVG ==*/
.svg-lt,
.svg-lm,
.svg-lb,
.svg-rt,
.svg-rm,
.svg-rb {
  position: absolute;
  z-index: -10;
  width: 124%;
}

.svg-lt {
  left: -83vw;
  top: -8vh;
  right: auto;
  bottom: auto;
  filter: drop-shadow(15px 10px 0px #f3f3f3);
}

.svg-lm {
  left: -87vw;
  top: 18vh;
  right: auto;
  bottom: auto;
}

.svg-lb {
  left: -88vw;
  top: 44.8vh;
  right: auto;
  bottom: auto;
  filter: drop-shadow(20px 10px 0px #f3f3f3);
}

.svg-rt {
  left: auto;
  top: 2vh;
  right: -86vw;
  bottom: auto;
}

.svg-rm {
  left: auto;
  top: 28.3vh;
  right: -98vw;
  bottom: auto;
}

.svg-rb {
  left: auto;
  top: 55vh;
  right: -102.5vw;
  bottom: auto;
  filter: drop-shadow(-6px 41px 0px #f3f3f3);
}

.svg-e6,
.svg-e7,
.svg-e9,
.svg-e10,
.svg-waves {
  position: absolute;
  z-index: -9;
}

.svg-e6 {
  left: 2vw;
  top: 13vh;
  right: auto;
  bottom: auto;
  max-width: 3%;
}

.svg-e7 {
  right: 10vw;
  top: 70.8vh;
  left: auto;
  bottom: auto;
  max-width: 3%;
}

.svg-e9 {
  left: 15%;
  top: 81vh;
  right: auto;
  bottom: auto;
  max-width: 2%;
}

.svg-e10 {
  right: 7vw;
  top: 20vh;
  left: auto;
  bottom: auto;
  max-width: 2%;
}

/* === Hero === */
.hero {
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
  align-items: center;
  text-align: center;
  min-height: 95vh;
  overflow: hidden;
  position: relative;
}

.hero h2 {
  padding: 1em 0;
}

/* === Initial Call To Action === */
.initial-call-to-action {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 80vh;
  overflow: hidden;
  padding: 80px 0 20px 0;
}

.initial-call-to-action .content-wrapper {
  background-color: #f9fafc;
  border-radius: 50px;
  padding: 40px 30px;
}

.initial-call-to-action h2 {
  padding-bottom: 1em;
}

.highlight {
  text-transform: none;
  font-weight: 700;
  border-radius: none;
}

/* === Work === */
.work {
  /*display: flex;
  justify-content: center;
  align-items: center;*/
  text-align: center;
  min-height: 50vh;
}

article {
  border-radius: 30px;
  padding: 40px 20px 10px 20px;
}

span {
  background-color: #deebfe;
  border-radius: 50px;
  text-transform: uppercase;
  padding: 6px 20px;
  margin: 0 auto;
  line-height: 2.5em;
}

/* === Skills === */
.skills {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
  text-align: center;
  padding: 70px 0;
}

.skills .content-wrapper {
  padding-top: 40px;
}

.skills article {
  background-color: #ffffff;
  padding: 40px 30px;
  margin: 40px;
  max-width: 300px;
}

.skills article i {
  font-size: 6em;
  padding: 10px;
}

.skills-text {
  padding-top: 15px;
}

/* === Call to action === */
.call-to-action {
  padding: 0 20px;
}

.call-to-action .rounded-square-container {
  background-color: #4d39d1;
  color: #f9fafc;
}

.call-to-action .content-wrapper {
  padding: 0 45px;
}

.call-to-action p {
  font-size: 1.2em;
}

.call-to-action a {
  color: #fb746c;
  text-decoration: none;
}

.call-to-action h1 {
  padding-bottom: 0.6em;
}

/* === About === */
.about {
  padding: 0 20px;
}

.about .rounded-square-container,
.contact .rounded-square-container {
  min-height: 1vh;
  padding: 50px 30px;
  background-color: #ffffff;
  color: #4d39d1;
}

.about-text {
  text-align: left;
  padding: 1em 1.5em;
}

.about img {
  border-radius: 30px;
}

.image-container,
.work-detail img {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* === Contact === */
.contact {
  padding: 0 20px;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.contact .content-wrapper {
  display: flex;
  flex-flow: column;
}

.info-sub {
  margin: 1em 0 0 0;
}

.contact a {
  font-size: 1.2em;
}

/* === Work detail === */
.work-detail {
  padding: 0 20px;
  text-align: center;
}

.work-detail img {
  /*width: 80%;*/
  max-width: 90vh;
  margin: 0 auto;
}

.button-container {
  margin: 30px 0;
  transition: all 0.5s;
  transition-timing-function: cubic-bezier(0.2, 3, 0.4, 1);
}

.work-detail-text {
  /*max-width: 90%;*/
  background-color: #ffffff;
  border-radius: 50px;
  padding: 30px;
  margin: 30px auto;
  box-shadow: 6px 9px 23px 0px rgba(117, 138, 180, 0.2);
  -webkit-box-shadow: 6px 9px 23px 0px rgba(117, 138, 180, 0.2);
  -moz-box-shadow: 6px 9px 23px 0px rgba(117, 138, 180, 0.2);
}

.work-detail p {
  padding: 0 22px;
}

#button-full-width {
  display: block;
  width: 80%;
  line-height: 0;
  font-size: 1.3em;
  font-weight: 700;
  margin: 0 auto;
  padding: 20px;
}

.pagination {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: stretch;
  padding: 0 4%;
}

.pagination > .button {
  background-color: #deebfe;
  color: #4d39d1;
}

/* === Work detail image slides === */
.image-slides-outer > .next,
.image-slides-outer > .prev {
  background-color: #deebfe;
  border-radius: 50px;
  text-align: center;
  text-decoration: none;
  font-size: 1.4em;
  font-weight: 400;
  color: #4d39d1;
  padding: 10px 20px;
}

.image-slides-inner img {
  display: none;
}

.image-slides-inner img.active {
  display: inline-block;
}
/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   Media Queries for Responsive Design.
   These override the primary ('mobile first') styles.
   ========================================================================== */
/* ==========================================================================
	   														TABLET STYLES
========================================================================== */
@media only screen and (min-width: 600px) {
  /*------------------ svg stuff*/
  .hero .content-wrapper {
    position: relative;
    overflow: hidden;
  }

  /*-------------------------hover stuff*/
  /*-------------------------geenral link hover stuff*/
  .footer-navigation a:hover,
  .lastly a:hover,
  .contact a:hover {
    color: #fb746c;
  }

  .call-to-action a:hover,
  .social-icons a:hover {
    color: #deebfe;
  }

  /*------------------------- button hover stuff*/
  .button-container:hover {
    transform: scale(1.05, 1.05);
  }

  .button:hover {
    box-shadow: 6px 9px 23px 0px rgba(117, 138, 180, 0.2);
    -webkit-box-shadow: 6px 9px 23px 0px rgba(117, 138, 180, 0.2);
    -moz-box-shadow: 6px 9px 23px 0px rgba(117, 138, 180, 0.2);
  }

  /* == Menu == */
  /*------------------------- menu text hover stuff*/
  .open #menu-content ul li {
    margin: 20px 0;
  }

  .open #menu-content ul li a:hover {
    transition-delay: 0s;
    color: #deebfe;
  }

  .open #menu-content ul li:hover {
    transform: scale(1.1, 1.1);
    transition-delay: 0s;
    color: #deebfe;
  }

  .open #menu-content ul li:nth-child(2):hover {
    transition-delay: 0s;
  }

  .open #menu-content ul li:nth-child(3):hover {
    transition-delay: 0s;
  }

  .open #menu-content ul li:nth-child(4):hover {
    transition-delay: 0s;
  }
  /*---------------------------hover stuff ends*/

  .open #menu-content {
    top: 0;
    height: 100vh;
    width: 100vw;
  }

  .open #menu-bg {
    transform: scale(150);
  }
}

@media only screen and (min-width: 767px) {
  /* === Footer === */
  footer nav ul {
    display: flex;
    flex-flow: row wrap;
  }

  /* === Work === */
  .work {
    /* max-width: 150vh;*/
    /*max-width: 2000px;*/
    margin-left: 5%;
    margin-right: 5%;
  }

  .work article,
  .skills article {
    display: flex;
    flex-flow: row nowrap;
    text-align: left;
  }

  .work article img {
    width: 100%;
    max-width: 400px;
    height: auto;
    object-fit: contain;
  }

  #article-b {
    flex-flow: row-reverse;
    text-align: right;
  }

  /* === Skill === */
  .skills article {
    max-width: 700px;
  }

  .skills-text {
    padding-top: 0;
    padding-left: 15px;
  }

  /* === Call to action === */
  .rounded-square-container {
    max-width: 150vh;
  }

  .call-to-action .content-wrapper {
    max-width: 767px;
  }

  .call-to-action p {
    font-size: 1.5em;
  }

  /* === About === */
  .about {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }

  .about-text {
    max-width: 50%;
  }

  .about .content-wrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
  }

  /* === Contact === */
  .contact {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 25%;
  }

  .contact .rounded-square-container {
    min-width: 100%;
  }

  /* === Work detail === */
  .work-detail {
    margin: 60px 6%;
  }

  #button-full-width {
    width: 50%;
  }
}
/* ==========================================================================
	   														DESKTOP STYLES
========================================================================== */

@media only screen and (min-width: 1023px) {
  /* SVG stuff ==*/
  .svg-lt,
  .svg-lm,
  .svg-lb,
  .svg-rt,
  .svg-rm,
  .svg-rb {
    max-width: 40%;
  }

  .svg-lt {
    left: -13%;
    top: -1%;
    right: auto;
    bottom: auto;
    filter: drop-shadow(15px 10px 0px #f3f3f3);
  }

  .svg-lm {
    left: -11%;
    top: 5%;
    right: auto;
    bottom: auto;
  }

  .svg-lb {
    left: -12%;
    top: 13%;
    right: auto;
    bottom: auto;
    filter: drop-shadow(20px 10px 0px #f3f3f3);
  }

  .svg-rt {
    left: auto;
    top: -1%;
    right: -13%;
    bottom: auto;
  }

  .svg-rm {
    left: auto;
    top: 5%;
    right: -10%;
    bottom: auto;
  }

  .svg-rb {
    left: auto;
    top: 14%;
    right: -8%;
    bottom: auto;
    filter: drop-shadow(-6px 41px 0px #f3f3f3);
  }

  .svg-e6,
  .svg-e7,
  .svg-e9,
  .svg-e10,
  .svg-waves {
    position: absolute;
    z-index: -9;
  }

  .svg-e6 {
    left: 8%;
    top: 3%;
    right: auto;
    bottom: auto;
    max-width: 3%;
  }

  .svg-e7 {
    right: 26%;
    top: 17%;
    left: auto;
    bottom: auto;
    max-width: 3%;
  }

  .svg-e9 {
    left: 15%;
    top: 19%;
    right: auto;
    bottom: auto;
    max-width: 2%;
  }

  .svg-e10 {
    right: 19%;
    top: 3%;
    left: auto;
    bottom: auto;
    max-width: 2%;
  }

  /* === Work === */
  .work {
    /* max-width: 150vh;*/
    /*max-width: 2000px;*/
    margin-left: 10%;
    margin-right: 10%;
  }

  /* === Skills === */
  .skills .content-wrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
  }

  .skills article {
    display: block;
    text-align: center;
    max-width: 200px;
  }

  .skills-text {
    padding-left: 0;
  }

  /* === About === */
  .about {
    max-width: 150vh;
    margin-left: 10%;
    margin-right: 10%;
  }

  .about-text {
    font-size: 1.2em;
  }

  /* === Work detail === */
  .work-detail {
    max-width: 120vh;
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (min-width: 1500px) {
  /* === About === */
  .about {
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
  }
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
